<ul id = "nav" class="nav nav-sidebar" style="height: 500px; border-right:1px solid #428bca;background-color: #2b313a; padding-right:-10px">
    <li class="db"><a href="{% url 'dashboard' %}"><div class="icons"><i class="fa fa-home fa-2x" aria-hidden="true"></i></div><div class="menu">Dashboard</div></a></li>

    <li class="ef"><a href="{% url 'raw-data-event-flow' %}"><div class="icons"><i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i></div><div class="menu">Event Flow</div></a></li>

    <li class="dt"><a href="{% url 'raw-data-data-trend' %}"><div class="icons"><i class="fa fa-line-chart fa-2x" aria-hidden="true"></i></div><div class="menu">Data Trend</div></a></li>

    <li class="ml"><a href="{% url 'machine-learning-result' %}"><div class="icons"><i class="fa fa-area-chart fa-2x" aria-hidden="true"></i></div><div class="menu">ML Result</div></a></li>
</ul>
