<!DOCTYPE html>
<body>
<svg width="960" height="500"></svg>
</body>
<style>
    .axis .domain {
        display: none;
    }
</style>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
    var svg = d3.select("svg"),
        margin = {
            top: 30,
            right: 20,
            bottom: 30,
            left: 60
        },
        width = +svg.attr("width") - margin.left - margin.right,
        height = +svg.attr("height") - margin.top - margin.bottom,
        g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scaleBand()
        .rangeRound([0, width])
        .paddingInner(0.05)
        .align(0.1);

    var y = d3.scaleLinear()
        .rangeRound([height, 0]);

    var z = d3.scaleOrdinal()
        .range(["#2E9AFE", "#3ADF00", "#FFBF00", "#FF0000", "#B40486"]);

    //add
    var yAxis = d3.axisLeft(y)

    var xAxis = d3.axisBottom(x)
    // Read data
    d3.json("data.json", function(data){
        var keys = []
        for (key in data[0]){
            if (key != "State")
                keys.push(key);
        }
        data.forEach(function(d){
            d.total = 0;
            keys.forEach(function(k){
                d.total += d[k];
            })
        });
        // data.sort(function(a, b) {
        //   return b.total - a.total;
        // });
        x.domain(data.map(function(d) { return d.State; }));
        y.domain([0, d3.max(data, function(d) {return d.total;})]).nice();
        z.domain(keys);

        g.append("g")
            .selectAll("g")
            .data(d3.stack().keys(keys)(data))
            .enter().append("g")
            .attr("fill", function(d) {
                return z(d.key);
            })
            .selectAll("rect")
            .data(function(d) {
                return d;
            })
            .enter().append("rect")
            .attr("x", function(d) { return x(d.data.State);})
            .attr("y", function(d) { return y(d[1]);})
            .attr("height", function(d) {return y(d[0]) - y(d[1]);})
            .attr("width", x.bandwidth());

        g.append("g")
            .attr("class", "axis")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        g.append("g")
            .attr("class", "axis")
            .call(d3.axisLeft(y).ticks(null, "s"))
            .append("text")
            .attr("x", 2)
            .attr("y",15)
            .attr("dy", "0.32em")
            .attr("fill", "#000")
            .attr("font-weight", "bold")
            .attr("text-anchor", "middle")
            .attr("transform", "translate(-50," + height/2 + ") rotate(-90)")
            .text("Total Failure Time");

        //add x axsi and y axsi
        g.append("g")
            .classed("yAxis", true)
            .attr("transform", "translate(0,0)")
            .call(yAxis);
        g.append("g")
            .classed("xAxis", true)
            .attr("transform", "translate(" + 0 + "," + height + ")")
            .call(xAxis);

        var legend = g.append("g")
            .attr("font-family", "sans-serif")
            .attr("font-size", 10)
            .attr("text-anchor", "end")
            .selectAll("g")
            .data(keys.slice().reverse())
            .enter().append("g")
            .attr("transform", function(d, i) {
                return "translate(0," + i * 20 + ")";
            });

        legend.append("rect")
            .attr("x", width - 19)
            .attr("width", 19)
            .attr("height", 19)
            .attr("fill", z);

        legend.append("text")
            .attr("x", width - 24)
            .attr("y", 9.5)
            .attr("dy", "0.32em")
            .text(function(d) {
                return d;
            });
    });

</script>
